# App
flask==0.11.1
flask-cache==0.13.1
flask-script==2.0.5
flask-restful==0.3.5
flask-migrate==2.0.2
flask-sqlalchemy==2.1

eos==0.0.0.dev8
webargs==1.4.0

# Tests
pytest==3.0.3
pytest-cov==2.4.0
pytest-mock==1.2
pytest-flask==0.10.0